.form {
  padding: 90px 0;
  position: relative;

  &__inner {
    padding: 20px 0 40px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../../images/form-bg.png");
  }

  &__title{
    margin: 0;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }
}

.form-sab {
  margin: 0 auto;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    padding: 15px;
    width: 334px;
    height: 52px;
    outline: none;
    background-color: #fbfafa;
    border: 1px solid #cfcfcf;
    border-radius: 12px;

    &::placeholder {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #777777;
    }
  }

  &__btn {
    max-width: 334px;
    width: 100%;
  }
}
