.hero {
  &__wrapper {
    display: flex;
  }

  &__content {
    width: 100%;
    background-image: url("../../images/main-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.aside {
  max-width: 320px;
  width: 100%;
}
