.map {
  &__inner {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 40%;
      background-color: #343434;
      bottom: 0;
      z-index: -1;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__title {
    margin-bottom: 0;
  }

  &__form {
    text-align: center;
  }

  &__form-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
  }

  &__form-text {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
    color: #c0c0c0;
  }
}

.form-map {
  margin-bottom: 50px;
  max-width: 653px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    padding: 26px;
    height: 76px;
    max-width: 310px;
    border: none;
    outline: none;
    background: #aaaaaa;
    border-radius: 9px;
    color: #d8d8d8;
    &::placeholder {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #d8d8d8;
    }
  }

  &__btn {
    height: 76px;
    max-width: 310px;
    width: 100%;
  }
}
