.prise {
  padding: 82px 0 78px;
  @include r(440) {
    padding: 50px 0 50px;
  }

  &__title span {
    color: #f43b00;
  }
}

.prise__table {
  margin: 0 auto;
  max-width: 1500px;
}

.tabs-block {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  @include r(1350) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    @include r(1350) {
      margin-right: 10px;
      margin-bottom: 15px;
    }
    @include r(440) {
      width: 100%;
    }
  }

  &__btn {
    display: inline-block;
    text-align: center;
    width: 260px;
    background-color: #e4e4e4;
    border-radius: 9px;
    color: #141414;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 18px;
    outline: 0;
    transition: color 0.3s, box-shadow 0.3s, border 0.3s;
    @include r(440) {
      width: 100%;
      margin-bottom: 10px;
    }
    &:focus {
      background-color: #e4e4e4;
      color: #f43b00;
    }
    &:hover {
      background-color: #e4e4e4;
      color: #f43b00;
    }
    &:active {
      background-color: #e4e4e4;
      color: #a82c03;
      box-shadow: 0px -1px 21px 2px rgba(34, 60, 80, 0.3) inset;
    }
  }
}
.tabs-block__btn.tabs-block__btn--active {
  border: 2px solid #f43b00;
  color: #fff;
  background-color: #5f5f5f;
}
table {
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 21px;
  overflow: hidden;
  border-radius: 9px;
  @include r(768) {
    font-size: 16px;
  }
}

table th {
  text-align: center;
  border: none;
  padding: 21px;
  color: #ffffff;
  @include r(768) {
    font-size: 16px;
  }
}
table td {
  background: #e4e4e4;
  border: none;
  text-align: center;
  padding: 21px;
  color: #313030;
  @include r(768) {
    font-size: 16px;
  }
}
table tr {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  background: #e4e4e4;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 21px;
  color: #313030;
  @include r(768) {
    font-size: 16px;
  }
}

thead tr {
  text-align: center;
  background-color: #343434;
  max-width: 1500px;
  width: 100%;
  @include r(768) {
    font-size: 16px;
  }
}

.table {
  margin-bottom: 50px;
  @include r(768) {
    font-size: 16px;
  }
}

.table-prise {
  margin: 0 auto;
  display: none;
  @include r(768) {
    overflow-x: scroll;
  }
}
.table {
  max-width: 1500px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
  @include r(768) {
    width: 700px;
  }
}

.table-prise.table-prise--active {
  display: block;
}

.table-prise1 {
  display: block;
}

.table.table-mobail {
  @include r(768) {
    width: 100%;
  }
}

table tr th {
  @include r(768) {
    width: 50px;
    font-size: 14px;
  }
}
table tr {
  @include r(768) {
    width: 50px;
    font-size: 14px;
  }
}
