.prise {
  padding: 82px 0 78px;


  &__title span {
    color: #f43b00;
  }
}

.prise__table{
  margin: 0 auto;
  max-width: 1500px;
}

.tabs-block {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  @include r (1350){
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item{
    @include r (1350){
      margin-right: 10px;
      margin-bottom: 15px;
    }
  }

  &__btn {
    width: 260px;
    background-color: #e4e4e4;
    border-radius: 9px;
    color: #141414;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.3s, box-shadow 0.3s, border 0.3s;
    &:hover{
      background-color: #e4e4e4;
      color: prise__table;

    }
    &:active{
      background-color: #e4e4e4;
      color: #F43B00;

    }
  }
}
.tabs-block__btn--active{
  border: 1px solid #F43B00;
  color: #F43B00;

}
table {
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 21px;
  overflow: hidden;
  border-radius: 9px;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }

}

table th {
  text-align: center;
  border: none;
  padding: 21px;
  color: #ffffff;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }
}
table td {
  background: #e4e4e4;
  border: none;
  text-align: center;
  padding: 21px;
  color: #313030;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }
}
table tr {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  background: #e4e4e4;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 21px;
  color: #313030;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }
}

thead tr {
  text-align: center;
  background-color: #343434;
  max-width: 1500px;
  width: 100%;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }
}

.table {
  margin-bottom: 50px;
  @include r (768){
    font-size: 16px;
  }
  @include r (640){
    font-size: 14px;
  }
}



.table-prise {
  margin: 0 auto;
  display: none;
  overflow-x: scroll;
}
.table {
  max-width: 1500px;
  @include r (768){
    width: 768px;
  }
}


.table-prise.table-prise--active {
  display: block;
}

.table-prise1 {
  display: block;
}

