<section id="advantage" class="advantage">
  <h2 class="sr-only">Качественный бетон, доступные цены за м3, доставка в день обращения. 3 завода в Москве. 20 лет опыта работы. Гарантия выгодной цены за куб! Скидки для оптовых покупателей, подарки и акции - всё это на нашем сайте</h2>
  <div class="container">
    <ul class="advantage__list list-reset">
      <li class="advantage__item">
        <span class="advantage__img advantage__img--many"></span>
        <h4 class="advantage__title">Лучшая цена за 1 M<sup>3</sup></h4>
        <p class="advantage__text">
          В Москвоском регионе -любые обьемы по ценам производителя
        </p>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--avto"></span>
        <h4 class="advantage__title">Выгодная доставка</h4>
        <p class="advantage__text">
          От одного куба бетона по Москве с доступом в центр
        </p>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--hands"></span>
        <h4 class="advantage__title">Три собственных завода</h4>
        <p class="advantage__text">
          Лучшая себестоимость и Логистика в любую точку Москвы и
          области
        </p>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--client"></span>
        <h4 class="advantage__title">Довольные клиенты</h4>
        <p class="advantage__text">
          Более 1000 довольных клиентов за последний год
        </p>
      </li>
    </ul>
  </div>
</section>
