<section class="hero">
  <h1 class="sr-only">Художественная Галерея Blanchard</h1>

  <div class="hero__wrapper">
    <aside class="aside">
      <ul class="aside__list list-reset">
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">Бетонные смеси</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">Керамзитобетон</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">тощий бетон</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">ЦПС</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">растворы</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">Стоимость доставки</button>
        </li>
        <li class="aside__item">
          <button class="aside__btn js-button-campaign btn-reset">
            Стоиомсть противоморозной добавки (ПМД)
          </button>
        </li>
      </ul>
    </aside>

    <div class="hero__content">
      <p class="hero__title">Три завода</p>
      <p class="hero__subtitle">по производству бетона</p>

      <a class="hero__link btn js-button-campaign" href="#prise">Узнать цену</a>
      <a class="hero__link hero__link--transporent btn" href="#map">Посмотреть на карте</a>
    </div>
  </div>
</section>
