<section id="map" class="map">
  <h3 class="title map__title">Зона покрытия нашей компании</h3>

  <div class="map__inner">
      <div class="container map__container">
      <div class="map__left">
        <img src="images/mixer.png" alt="" width="684" />
        <div class="map__form">
          <h4 class="map__form-title">Закажите бетон</h4>
          <p class="map__form-text">
            мы рассчитаем нужный обьем бетона, нужной марки за 2 минуты
          </p>
          <form action="#" class="form-map">
            <label for="#" class="form-map__label">
              <input class="form-map__input" placeholder="Ваш телефон" />
            </label>
            <button class="form-map__btn btn btn-reset">Заказать</button>
          </form>
        </div>
      </div>
      <div class="map__right">
        <img src="images/map.png" alt="" width="864" height="712"/>
      </div>
    </div>
  </div>
</section>
