<section id="prise" class="prise">
  <div class="container">
    <h3 class="prise__title title">Наши <span>цены</span></h3>

    <ul class="tabs-block list-reset">
      <li class="tabs-block__item">
        <button
          class="tabs-block__btn btn btn-reset tabs-block__btn--active"
          data-path="1"
        >
          Бетонные смеси
        </button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset" data-path="2">
          Керамзитобетон
        </button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset" data-path="3">
          Тощий бетон
        </button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset" data-path="4">Цпс</button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset" data-path="5">
          Растворы
        </button>
      </li>
    </ul>

    <div class="prise__table">
      <div class="table-prise table-prise--active" data-target="1">
        <table class="table">
          <thead id="prise1" class="table">
            <tr>
              <th>Mарка</th>
              <th>Класс</th>
              <th>Технические параметры</th>
              <th>Цены на бетон</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>М 100</td>
              <td>В 7,5</td>
              <td>П 4 F 150 W 6</td>
              <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) 5700 руб/м3</td>
            </tr>
            <tr>
              <td>М 150</td>
              <td>В 10/12,5</td>
              <td>П 4 F 100 W 4</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) 5750 руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка</td>
              <td>Класс</td>
              <td>Технические параметры</td>
               <td>цена</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-prise" data-target="2">
        <table class="table">
          <thead>
            <tr>
              <th>Mарка2</th>
              <th>Класс2</th>
              <th>Технические параметры2</th>
              <th>Цены на бетон</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цены на бетон</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цены на бетон</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цены на бетон</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
           

          </tbody>
        </table>
      </div>

      <div class="table-prise" data-target="3">
        <table class="table">
          <thead class="table">
            <tr>
              <th>Mарка2</th>
              <th>Класс2</th>
              <th>Технические параметры2</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-prise" data-target="4">
        <table class="table">
          <thead class="table">
            <tr>
              <th>Mарка2</th>
              <th>Класс2</th>
              <th>Технические параметры2</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-prise" data-target="5">
        <table class="table">
          <thead class="table">
            <tr>
              <th>Mарка2</th>
              <th>Класс2</th>
              <th>Технические параметры2</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
            <tr>
              <td>Mарка2</td>
              <td>Класс2</td>
              <td>Технические параметры2</td>
              <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="prise2" class="table-prise table-prise1">
        <table  class="table">
          <thead>
            <tr>
              <th colspan="2" style="text-transform: uppercase">
                Стоимость противоморозной добавки
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Классификация от 0 С до 20 С</td>
              <td>Цена в руб (в т.ч. НДС 20 %) руб/м3 150 руб</td>
            </tr>
          </tbody>
        </table>
      </div>

     <div class="table-prise table-prise1">
      <table id="prise3" class="table">
        <thead>
          <tr>
            <th style="text-transform: uppercase" colspan="4">
              Стоимость доставки
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
        </tbody>
      </table>
     </div>

    </div>
  </div>

</section>
