<section id="prise" class="prise">
  <div class="container">
    <h3 class="prise__title title">Наши <span>цены</span></h3>

    <ul class="tabs-block list-reset">
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset active">Бетонные смеси</button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset">Керамзитобетон</button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset">Тощий бетон</button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset">Цпс</button>
      </li>
      <li class="tabs-block__item">
        <button class="tabs-block__btn btn btn-reset">Растворы</button>
      </li>
    </ul>

    <div class="prise__table">
      <table class="table">
        <thead class="table">
          <tr>
            <th>Mарка</th>
            <th>Класс</th>
            <th>Технические параметры</th>
            <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
          <tr>
            <td>Mарка</td>
            <td>Класс</td>
            <td>Технические параметры</td>
            <td>Цена без доставки (в т.ч. НДС 20 %) руб/м3</td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th colspan="2" style="text-transform:uppercase;">Стоимость противоморозной добавки</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Классификация от 0 С до 20 С</td>
            <td>Цена в руб (в т.ч. НДС 20 %) руб/м3 150 руб</td>
          </tr>
          <tr>
            <td>Классификация от 0 С до 20 С</td>
            <td>Цена в руб (в т.ч. НДС 20 %) руб/м3 150 руб</td>
          </tr>
          <tr>
            <td>Классификация от 0 С до 20 С</td>
            <td>Цена в руб (в т.ч. НДС 20 %) руб/м3 150 руб</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th style="text-transform:uppercase;" colspan="4">Стоимость доставки</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
            <td style="color: #f43b00">Полная загрузка АБС руб 1м3 (с НДС)</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
          <tr>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
            <td>до 5 км-360 руб</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
